body{
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	min-height: 100%;
	padding-right: 0 !important;
}

#seasons_name{
	font-size: 11vw;
	margin-top: 20px;
	margin-bottom: 20px;
}

#content{
	padding-top: 20px;
	padding-bottom: 20px;
	height: auto;
	color: white;
	background-color: rgba(0, 0, 0, 0.7);
	-webkit-border-radius: 5px;
	-webkit-border-top-right-radius: 4px;
	-moz-border-radius: 5px;
	-moz-border-radius-topright: 4px;
	border-radius: 5px;
	border-top-right-radius: 4px;
}

#seasons_name{
	font-family: 'Open Sans', "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-weight: bold;
	text-shadow:
	1px 1px 0 #000,
	2px 2px 0 #000, /* end of 2 level deep grey shadow */
	3px 3px 0 #000,
	4px 4px 0 #000,
	5px 5px 0 #000,
	6px 6px 0 #000; /* end of 4 level deep dark shadow */
}

html, body {
    min-height: 100%;
}

#loading{
	margin-top: 20px;
}

.bold{
	font-weight: bold;
}

.modal .modal-body {
    /*max-height: 300px;*/
    overflow-y: auto;
}

.img-season-fall{
	background-image: url("../img/fall.jpg");
	background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center top;
    background-attachment: fixed;
}

.img-season-winter{
	background: url("../img/winter.jpg");
	background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center top;
    background-attachment: fixed;
}

.img-season-spring{
	background: url("../img/spring.jpg");
	background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center top;
    background-attachment: fixed;
}

.img-season-summer{
	background: url("../img/summer.jpg");
	background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center top;
    background-attachment: fixed;
}

